<div style="display: flex; align-items: center;">
    <mat-icon class="colorcclsecondary me-1">filter_list</mat-icon>
    <h5 class="colorcclprimary" style="margin: 0;">Filtros</h5>
</div>
<mat-divider class="mt-4 mb-2"></mat-divider>
<div class="mb-3">
    <label class="form-label colorcclprimary" style="display: flex; align-items: center;">
      <mat-icon class="colorcclsecondary me-1">description</mat-icon>
      Tipo de Documento
    </label>
    <div>
      <mat-checkbox
        color="primary"
        [value]="'RESOLUCIÓN'"
        (change)="toggleTipoDocumento('RESOLUCIÓN', $event.checked)"
      >
        Resolución
      </mat-checkbox>
    </div>
    <div>
      <mat-checkbox
        color="primary"
        [value]="'NOTIFICACIÓN'"
        (change)="toggleTipoDocumento('NOTIFICACIÓN', $event.checked)"
      >
        Notificación
      </mat-checkbox>
    </div>
    <div>
      <mat-checkbox
        color="primary"
        [value]="'ACTA'"
        (change)="toggleTipoDocumento('ACTA', $event.checked)"
      >
        Acta
      </mat-checkbox>
    </div>
    <div>
      <mat-checkbox
        color="primary"
        [value]="'ESCRITO'"
        (change)="toggleTipoDocumento('ESCRITO', $event.checked)"
      >
        Escrito
      </mat-checkbox>
    </div>
  </div>
  
<mat-divider class="mt-2 mb-2"></mat-divider>
<div class="mb-3">
    <label class="form-label colorcclprimary" style="display: flex; align-items: center;">
        <mat-icon class="colorcclsecondary me-1">history</mat-icon>
       Histórico
    </label>
    <div>
        <mat-checkbox color="primary"  (change)="toggleHistorico($event.checked)">Mostrar Documentos Firmados</mat-checkbox>
    </div>
</div>
<mat-divider class="mt-2 mb-2"></mat-divider>
<button mat-fab extended class="mb-3" color="primary" style="width: 100%;" (click)="aplicarFiltro()">
    <mat-icon>search</mat-icon>
    Buscar
</button>