
<h2 mat-dialog-title>
    <div style="display: flex; align-items: center;">
        <mat-icon class="colorcclsecondary " style="margin-right: 8px;">double_arrow</mat-icon>
        <h4 class="colorcclprimary" style="margin: 0;">{{data.title}}</h4>
    </div>
</h2>
<mat-dialog-content>
    <p>{{data.message}}</p>
        <div class="mb-3">
            <mat-form-field appearance="fill" style="width: 100%">
                <mat-label>Ingrese contraseña</mat-label>
                <input matInput [(ngModel)]="inputValue"  type="password" />
              </mat-form-field>
        </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button  mat-fab extended color="warn" (click)="onNoClick()">Cancelar</button>
    <button  mat-fab extended color="primary" (click)="onConfirm()">Confirmar</button>
</mat-dialog-actions>

