table {
    width: 100%;
  }
  
  .mat-mdc-form-field {
    font-size: 14px;
    width: 90%;
  }

  
  th {
    font-weight: bold;
  }


  .table-container {
    max-height: 400px; 
    overflow-y: auto;  
    width: 100%;
  }
  
 
  @media (max-width: 768px) {
    .table-container {
      max-height: 300px; 
    }
  }
  